form {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    padding: 5px;
    margin-bottom: 20px;
}

.wrap {
    max-width: 25%;
    margin: 0 auto;
}

.cards {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
}
.card {
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    min-width: 270px;
    overflow: hidden;
}

.hash {
    color: gray;
}

.chanel {
    font-weight: 700;
}


button {
    margin-top: 5px;
    max-width: 25%;
}